<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbonoz SolarAutopilot</title>
 

 
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <link rel="stylesheet" href="<%= ingress_path %>/css/main.css">
   <link rel="stylesheet" href="<%= ingress_path %>/css/chart.css">
</head>
<body>
      <!-- Add hamburger menu button -->
      <button class="mobile-toggle" id="mobileToggle">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div class="container">
        <div id="loadingOverlay" class="loading-overlay">
            <div class="loading-spinner"></div>
          </div>
          <div id="pageContent"> </div>
<%- include('partials/sidebar') %>

        <div class="main-container">
           

            <div class="main-content">
                <div class="content-card">
                
                    <div class="dashboard-container">
                        <iframe 
                            id="grafanaDashboard"
                            src="http://<%= grafanaHost %>:3001/d/solar_dashboard/solar-dashboard?orgId=1&kiosk=1&refresh=1m&theme=light" 
                            allowfullscreen>
                        </iframe>
                    </div>
                    
                </div>
            </div>

    
        </div>
    </div>
     
    <script src="<%= ingress_path %>/js/loading.js"></script>
    <script src="<%= ingress_path %>/js/sidebar.js"></script>
    <script src="<%= ingress_path %>/js/dark-mode.js"></script>
    <script src="<%= ingress_path %>/js/mobile.js"></script>

<script>
function updateIframe() {
    const from = document.getElementById('from').value;
    const to = document.getElementById('to').value;
    const timezone = document.getElementById('timezone').value;
    const iframe = document.getElementById('grafanaDashboard');
    const isDarkMode = document.body.classList.contains('dark-mode'); // Check if dark mode is active

    if (from && to) {
        const fromUnix = new Date(from).getTime();
        const toUnix = new Date(to).getTime();
        const theme = isDarkMode ? 'dark' : 'light'; // Set the correct theme based on dark mode state
        iframe.src = `http://<%= grafanaHost %>:3001/d/solar_dashboard/solar-dashboard?orgId=1&kiosk=1&refresh=1m&theme=${theme}&from=${fromUnix}&to=${toUnix}&tz=${timezone}`;
    } else {
        alert("Please select both a start and end time.");
    }
}

</script>
   

</body>
</html>
